{% extends 'account_base.html' %}
{% block content %}
{% load static %}

<!--new-->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="login-container p-4 shadow" style=" background-color: #ADC6B0">
        <div class="text-center mb-4">
            <h1 class="display-3 alkatra-500 " >Spesh</h1>
            <p class="lead">Capture, Connect, Create</p>
        </div>
        <div class="text-center mb-3">
            <h2 class="mb-0">Create an Account</h2>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username}}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                </form>
                
                <p class="mt-3 text-center">Already have an account? <a href="{% url 'signup' %}">Log in.</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}